@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #209ff6;
  --orange: #8e5aff;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg:linear-gradient(160deg, rgba(142,90,255,1) 0%, rgba(32,159,246,1) 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
  --toastify-color-success: #209ff6;
  --toastify-icon-color-success: var(--toastify-color-success);

--shedule: #E1AE4A;
}
body{
  font-family: 'Roboto', sans-serif;
  margin:0,
}
.App{
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;
  padding: 1rem 1rem;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #dddddd;
  filter: blur(72px)
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border:none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition:all 100ms ease-out;
}

.button:hover{
  cursor: pointer;
  color: var(--orange);
  background: transparent;
  border: 1px solid var(--orange);
}
.button:disabled{
  background-color: silver;
  pointer-events:none;
  color: whitesmoke;
  border: solid 1px whitesmoke
}
::-webkit-scrollbar{
  display: none;
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms cubic-bezier(.47,2,.41,1.5);
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: all 400ms cubic-bezier(.47,2,.41,1.5);
}
