.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#react-aria8827710669-1{
    padding: 0;
}
.counter {
    width: 5px;
    height: 5px;
    background-color: #0d6efd;
    border-radius: 50%;
    padding: 8px;
    font-size: 11px;
    display: flex;
    font-weight: bolder;
    color: powderblue;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -4px;
  }

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}


.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}