textarea {
    width: 100%;
    height: 50px;
    padding: 12px 20px !important;
    box-sizing: none;
    border: none;
    border-radius: 4px;
    background-color: #e8e8e8c2;
    font-size: 16px;
    resize: none;
  }
  .leaveComment{
    border-bottom: 2px solid gray;
    background: none;
    border-radius: 0;
    position: relative;
  }