.LogoSearch {
  display: flex;
}

.Search {
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}

.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
}

.s-icon {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    160deg,
    rgba(142, 90, 255, 1) 0%,
    rgba(32, 159, 246, 1) 100%
  );
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.s-icon:hover {
  cursor: pointer;
}
